@import "../../style/base.scss";

.section-home-full-6 {
  // @include heightMinusNavbar;
  padding: 0 5% 0;
  overflow: hidden;
  position: relative;
  min-height: 110vh;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  background-color:#100B1F ;

  .square-box-1 {
    width: 100%;
    min-height: 453px;
    height: auto;

    background-color: rgba(0, 0, 0, 0.449);
    border-radius: 50px;
    padding: 0 0 5rem 0;
    margin: 4rem 0 4rem 0;
    .description {
      text-align: center;
      color: #FE7734;
      font-family: trueno;
      font-size: 2rem;
      padding-top: 1rem;
    }
    .partner-img-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding: 5rem 5rem 5rem 5rem;
      // background: red;
      border-radius: 20px;
      @include respon(phone-pot) {
        padding: 0;
      }
      @include respon(phone-land) {
        padding: 0;
      }

      .logo-style-sp {
        object-fit: contain;
        max-height: 130px;
        max-width: 250px;
        margin: 10px;

        @include respon(phone-pot) {
          max-height: 90px;
          max-width: 250px;
          width: 100%;
        }
        @include respon(phone-land) {
          max-height: 120px;
          max-width: 250px;
        }
      }

      .logo-style {
        object-fit: contain;
        // max-height: 50px;
        // max-width: 250px;
        margin: 10px;

        @include respon(phone-pot) {
          max-height: 50px;
          max-width: 250px;
          width: 100%;
        }
        @include respon(phone-land) {
          max-height: 50px;
          max-width: 250px;
        }
      }
    }
  }
  .crystal1 {
    background-image: url("../../assets/img/homepage/crystalLeft6.svg");
    background-size: 100% 100%;
    width: 600px;
    background-repeat: no-repeat;
    height: 700px;
    left: -100px;
    top: -100px;
    position: absolute;
    mix-blend-mode: overlay;
    @include respon(phone-pot) {
      width: 400px;
      left: -150px;
      top: -100px;
    }
    @include respon(phone-land) {
      width: 400px;
      left: -100px;
      top: -100px;
    }
    @include respon(tb-pot) {
      left: -100px;
      top: -100px;
    }
  }
  .crystal2 {
    background-image: url("../../assets/img/homepage/crystalRight6.svg");
    background-size: 100% 100%;
    width: 600px;
    background-repeat: no-repeat;
    height: 700px;
    right: -200px;
    bottom: -100px;
    position: absolute;
    mix-blend-mode: overlay;
    @include respon(phone-pot) {
      width: 400px;
      right: -150px;
      bottom: -150px;
    }
    @include respon(phone-land) {
      width: 450px;
      right: -200px;
      bottom: -200px;
    }
    @include respon(tb-pot) {
      right: -200px;
      top: 350px;
    }
  }
}
