.bgDecorationContainer {
  display: flex;
  width: 100%;
}

.right {
  -webkit-transform: scaleX(-1) !important;
  transform: scaleX(-1) !important;
}

.left {
  justify-content: flex-start !important;
}

.bgDecoration {
  width: calc(16vw + 75px);
  height: calc(8vw + 75px);
}
