@import "../../style/base.scss";

.wrapper-cat {
  color: white;
  .sec-1 {
    background: linear-gradient(180deg, #a57bf7 0%, #0f0a91 100%);
    width: 100%;
    padding: 15% 10% 15%;
    @include respon(phone-pot) {
      padding: 40% 10% 0;
    }
    @include respon(phone-land) {
      padding: 30% 10% 0;
    }
    @include respon(tb-pot) {
      padding: 25% 10% 0;
    }
    .big-title {
      font-family: Trueno;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 7rem;
      @include respon(phone-pot) {
        margin-bottom: 2rem;
      }
    }
    .title {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      margin-bottom: 2rem;
      @include respon(phone-pot) {
        margin-bottom: 0;
      }
    }
    .description {
      font-family: Poppins;
      font-size: $paragraph;
      font-size: larger;
      margin-bottom: 4rem;
    }
    .button-wrapper {
      .Link{
        color: white;
        text-decoration: none;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      @include respon(phone-pot) {
        flex-direction: column;
      }
      .guide-btn {
        margin: 2rem 2rem;
        .btn {
          padding: 1rem 2rem;
          text-align: center;
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          margin: 0 auto;
          width: fit-content;
          background: #cea2ea;
          border-radius: 10px;
          cursor: pointer;
          transition: 300ms;
          &:hover {
            background: #d48cff;
            box-shadow: 10px 12px 4px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
  .sec-2 {
    background: linear-gradient(180deg, #0f0a91 0%, #a57bf7 100%);
    width: 100%;
    padding: 15% 10% 15%;
    @include respon(phone-pot) {
      padding: 40% 10% 15%;
    }
    @include respon(phone-land) {
      padding: 30% 10% 15%;
    }
    @include respon(tb-pot) {
      padding: 25% 10% 15%;
    }
    .big-title {
      font-family: Trueno;
      width: fit-content;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 7rem;
      @include respon(phone-pot) {
        margin-bottom: 2rem;
      }
    }
    .img-time {
      width: max-content;
      margin: 0 auto;
      .ctf-timeline {
        object-fit: contain;
        width: 50rem;
        @include respon(phone-pot) {
          width: 250px;
        }
        @include respon(phone-land) {
          width: 400px;
        }
        @include respon(tb-pot) {
          width: 500px;
        }
      }
    }
  }
}
