@import "../../style/base.scss";

.dashboard-body {
  padding: 2rem;
  min-height: 70vh;
  font-family: Poppins;
  font-size: 1.4rem;
  margin: 0 5rem;
  background: linear-gradient(180deg, #e5b2ff 35.35%, #956af7 131.6%);
  box-shadow: -3px 16px 32px 5px rgba(0, 0, 0, 0.25);
  border-radius: 43px;
  color: white;
  @include respon(phone-pot) {
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
  }
  @include respon(phone-land) {
    margin: 0;
    font-size: 1rem;
  }
  @include respon(tb-pot) {
    margin: 0;
    font-size: 1rem;
  }
  .title-data {
    text-align: center;
    font-weight: bold;
  }
  .webinar-collection {
    .title-wr {
      font-family: Trueno;
    }
  }
}

.dashboard-body-web {
  padding: 3rem;
  min-height: 70vh;
  font-family: Poppins;
  font-size: 1.4rem;
  margin: 0 5rem;
  background: linear-gradient(180deg, #e5b2ff 35.35%, #956af7 131.6%);
  box-shadow: -3px 16px 32px 5px rgba(0, 0, 0, 0.25);
  border-radius: 43px;
  color: white;

  @include respon(phone-pot) {
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
  }
  @include respon(phone-land) {
    margin: 0;
    font-size: 1rem;
  }
  @include respon(tb-pot) {
    margin: 0;
    font-size: 1rem;
  }
  .title-wr {
    text-align: center;
    font-weight: bold;
  }
  .details-desc {
    text-align: justify;
    padding: 1rem;
    line-height: 40px;
    @include respon(phone-pot) {
      line-height: 20px;
    }
    @include respon(phone-land) {
      line-height: 30px;
    }

    li {
      list-style-type: disc;
    }
  }
}

.dashboard-body-competition {
  padding: 2rem;
  min-height: 70vh;
  font-family: Poppins;
  font-size: 1.4rem;
  margin: 0 5rem;
  background: linear-gradient(180deg, #e5b2ff 35.35%, #956af7 131.6%);
  box-shadow: -3px 16px 32px 5px rgba(0, 0, 0, 0.25);
  border-radius: 43px;
  text-align: center;
  color: white;
  @include respon(phone-pot) {
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
  }
  @include respon(phone-land) {
    margin: 0;
    font-size: 1rem;
  }
  @include respon(tb-pot) {
    margin: 0;
    font-size: 1rem;
  }
  .title-data {
    text-align: center;
    font-weight: bold;
  }
  .description {
    max-width: 300px;
    margin: auto;
  }

  .selection {
    margin: 2.5rem 0 1.75rem;
    font-size: 1.2rem;
  }
  .basic-single {
    color: rgb(20, 20, 20);
  }
  .academy {
    .tombol {
      margin-left: -70%;
      @include respon(phone-pot) {
        margin-left: 0;
      }
      @include respon(phone-land) {
        margin-left: 0;
      }
    }
    .header {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      margin-bottom: 2rem;
    }
    .p-wrapper {
      margin: 2rem 0 2rem 0;
      color: red;
      padding: 1rem;
      background: #ffffff;
      border-radius: 0px 74px;
    }
    .link-team-container {
      text-align: left;
      width: 100%;
      margin: 2rem 0 2rem;
      color: black;
      display: flex;
      flex-direction: column;

      .link-container {
        margin-top: 1.25rem;
        background-color: white;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--link {
          font-size: 1rem;
          word-break: break-all;
          max-width: 90%;
          padding: 10px;
        }

        .icon-container {
          padding: 0.75rem;
          border-radius: 999px;
          vertical-align: top;
          line-height: 12px;
          transition: 300ms;

          &:hover {
            background-color: #e5b2ff;
          }
        }

        .copy-icon {
          width: 25px;
          height: 25px;
        }
      }
    }
    .content {
      color: black;
    }
    .data-container {
      text-align: left;
      .kartu-mahasiswa-container {
        margin-bottom: 2rem;

        .subtitle {
          margin-bottom: 1.25rem;
          color: black;
        }
      }

      .surat-keterangan-container {
        margin-bottom: 2rem;

        .subtitle {
          margin-bottom: 1.25rem;
          color: black;
        }
      }

      .bukti-bayar-container {
        margin-bottom: 2rem;

        .subtitle {
          margin-bottom: 1.25rem;
          color: black;
        }
      }

      .filepond--wrapper {
        color: white;
        width: 90%;

        max-width: 400px;
      }
      .filepond--credits {
        display: none;
      }
    }
  }
}

// workshop
.dashboard-body-wr {
  padding: 3rem;
  min-height: 70vh;
  font-family: Poppins;
  font-size: 1.4rem;
  margin: 0 5rem;
  background: linear-gradient(180deg, #e5b2ff 35.35%, #956af7 131.6%);
  box-shadow: -3px 16px 32px 5px rgba(0, 0, 0, 0.25);
  border-radius: 43px;
  color: black;

  @include respon(phone-pot) {
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
  }
  @include respon(phone-land) {
    margin: 0;
    font-size: 1rem;
  }
  @include respon(tb-pot) {
    margin: 0;
    font-size: 1rem;
  }
  .title-wr {
    text-align: center;
    font-weight: bold;
  }
  .details-desc {
    text-align: justify;
    padding: 1rem;
    line-height: 40px;
    @include respon(phone-pot) {
      line-height: 20px;
    }
    @include respon(phone-land) {
      line-height: 30px;
    }

    li {
      list-style-type: disc;
    }
  }
}

.livestream {
  position: relative;
  margin: 2rem 0;
  background: linear-gradient(90deg, #956af7 35.35%, #2af6ff 131.6%);
  font-family: "Titillium Web", sans-serif;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include respon(phone-pot) {
    padding: 10px;
  }
  @include respon(phone-land) {
    padding: 10px;
  }
}

.fluidMedia {
  position: relative;
  padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
  height: 0;
  overflow: hidden;
}
.fluidMedia iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
