@import "../../style/base.scss";

.form-register-containers {
  background: linear-gradient(180deg, #0f0a91 0%, #a57bf7 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10% 0 5%;
  @include respon(phone-pot) {
    padding: 30% 0 10%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @include respon(phone-land) {
    padding: 20% 0 10%;
  }
  @include respon(tb-pot) {
    padding: 15% 0 10%;
  }
  .wrapperr {
    padding-top: 75px;
    background-color: #ffffff;
    padding: 5%;
    width: 40%;
    border-radius: 25px;
    font-family: "Bebas Neue";
    @include respon(phone-pot) {
      width: 100%;
    }
    @include respon(phone-land) {
      width: 80%;
      margin: 0 1rem 0 1rem;
    }
    .title {
      margin-bottom: 2rem;
      font-family: trueno;
      text-align: center;
    }
    .tombol {
      text-align: center;
    }
    .login-text {
      margin-top: 4rem;
      text-align: center;

      .link-login {
        font-family: trueno;
        text-decoration: none;
        color: #7c1dc9;
        transition: 300ms;
        &:hover {
          color: #ac5bee;
        }
      }
    }
    .select-container {
      width: 100%;
      margin-bottom: 2rem;
      .label {
        display: block;
        color: black;
        font-weight: $medium;
        margin-bottom: 0.75rem;
        font-size: 1.2rem;
      }
    }

    .gender-container {
      margin-bottom: 2rem;

      .label {
        display: block;
        color: white;
        font-weight: $medium;
        margin-bottom: 0.75rem;
        font-size: 1.2rem;
      }
      .flexbox {
        display: flex;
        justify-content: space-between;
        width: 300px;
      }

      .option {
        border: 1.5px solid rgba($color: white, $alpha: 0.16);
        padding: 0.5rem 0.75rem;
        background-color: rgba($color: white, $alpha: 0.16);
        label {
          font-size: 1.15rem;
          color: white;
          margin-right: 0.75rem;
        }
      }
    }

    .hint {
      color: black;
    }
  }
}
