@import "../../style/base.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10rem 0 10rem 0;
  background: linear-gradient(180deg, #0f0a91 0%, #a57bf7 100%);

  .form-login-container {
    padding-top: 75px;
    background-color: #ffffff;
    padding: 5%;
    width: 40%;
    border-radius: 25px;
    font-family: "Bebas Neue";
    @include respon(phone-pot) {
      width: 100%;
      margin: 0 1rem 0 1rem;
    }
    @include respon(phone-land) {
      width: 80%;
      margin: 0 1rem 0 1rem;
    }
    .title {
      font-family: trueno;
      text-align: center;
    }
    .button-wrap {
      text-align: center;
    }
    .forgot-pass {
      text-align: right;
      margin: -2rem 0 2rem 0;
      .link-register {
        text-decoration: none;
        color: #000000;
        font-size: 1.2rem;
        transition: 300ms;
        &:hover {
          color: #a57bf7;
        }
      }
    }
    .text-wrap {
      text-align: center;
      .description {
        font-family: "Bebas Neue";
        margin: 3rem 0 0 0;
      }
      .link-register {
        font-family: trueno;
        text-decoration: none;
        color: #7c1dc9;
        transition: 300ms;
        &:hover {
          color: #ac5bee;
        }
      }
    }
  }
}
