@import "../../../style/base.scss";

.rec.rec-arrow-right,
.rec.rec-arrow-left {
  border-radius: 0;
}

.rec.rec-arrow-left,
.rec.rec-arrow-left:enabled,
.rec.rec-arrow-left:enabled:hover,
.rec.rec-arrow-left:hover:enabled,
.rec.rec-arrow-left:focus:enabled {
  background-color: transparent;
  box-shadow: none;
}
.rec.rec-arrow-right,
.rec.rec-arrow-right:enabled,
.rec.rec-arrow-right:enabled:hover,
.rec.rec-arrow-right:hover:enabled,
.rec.rec-arrow-right:focus:enabled {
  background-color: transparent;
  box-shadow: none;
}
