@import "../../style/base.scss";

.paragraph {
  font-weight: $thin;
  word-spacing: 2px;
  letter-spacing: 0.1px;
  line-height: 35px;
}

.bold {
  font-weight: bold;
}

.paragraph-header {
  font-size: $paragraph-header;
  font-weight: $bold;
}

.paragraph-large {
  font-size: $paragraph-large;
  word-spacing: 5px;
  line-height: 32px;
  @include respon(phone-pot) {
    font-size: $paragraph;
  }
}

.paragraph.justify {
  text-align: justify !important;
}

.marbot {
  margin-bottom: 1rem;
  @include respon(phone-pot) {
    margin-bottom: 0rem;
  }
  @include respon(phone-land) {
    margin-bottom: 0.5rem;
  }
}

.small {
  font-size: $paragraph;
}

.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}


.color {
 color : black !important;
}

.italic {
  font-style: italic;
}

.note {
  font-size: 0.8rem;
  margin-top : 0rem;
  margin-bottom: 0rem;
}

.responsive{
  font-size: $paragraph;
  line-height: 35px !important;
  @include respon(phone-land) {
    font-size: .9rem;
    line-height: 30px !important;
  }
  @include respon(phone-pot) {
    font-size: .65rem;
    line-height: 25px !important;
  }
}
